/* Google Font Import - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html{
    scroll-behavior: smooth;
}
/* services card start  */
#services{
    padding: 20px;
    position: relative;
    padding-top: 0px;
    background-color: #04000e;
    height:fit-content;
    
}

.testimonial-heading{
    position: sticky;
    letter-spacing: 2px;
    border: 0.5px solid white;
    z-index: 1;
    background-color: rgb(148, 112, 169);
    font-weight: 700;
    top: 80px;
    
    font-size: 25px;
    color: #000000;
    text-align: center;
    font-family: Verdana,
    Geneva,
    Tahoma,
    sans-serif;
}
.heading{
    position: sticky;
    letter-spacing: 2px;
    border: 0.5px solid white;
    z-index: 1;
    background-color: rgb(148, 112, 169);
    font-weight: 700;
    top: 85px;
   
    font-size: 25px;
    color: #000000;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
.service-card-container{
    width: 100% !important;
    position: relative;
    top: 20px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
}
.card {
    width:30%;
    height:fit-content;
    background-image: linear-gradient(163deg, #00ff75 0%, #3700ff 100%);
    border-radius: 20px;
    transition: all .3s;
margin-top: 10px;
   
}

.card2 {
width:3fr;
height:fit-content;
text-align: center;
    color: rgba(255, 255, 255, 0.767);
    padding: 30px;
    background-color: #0a0909;
    
    border: radius 20%; ;
    transition: all .2s;
}
.card2 h3{
    color: rgb(245, 245, 90);
}
.card2:hover {
    transform: scale(0.98);
    border-radius: 20px;
}

.card:hover {
    box-shadow: 0px 0px 30px 1px rgba(0, 255, 117, 0.30);
}
/* card end  */

.home{
    position: fixed;
}
header{
    z-index: 100000;
    /* margin-top: 39px; */
}

.close{
    opacity: 1;
}
.sidebar.close:hover{
    opacity: 1;
}
.carousel-item {
    height: 100vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.carousel-item img{
    filter: brightness(50%);
}

.carousel-caption {
    top:30vh;
    position: sixed;
}

.carousel-caption h5 {
    /* font-size: 45px; */
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 25px;
}

.carousel-caption p {
    width: 75%;
    margin: auto;
    font-size: 18px;
    line-height: 1.9;
}
body {
    min-height: 100vh;
    background-color: white;
    transition: 0.5s;
}




/* ===== Sidebar ===== */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
   
   
    /* background: var(--sidebar-color); */
    background-color: rgb(0, 0, 0);
    transition: 0.3s;
    z-index: 100;
}

.sidebar.close {
    width: 88px;
}

/* ===== Reusable code - Here ===== */
.sidebar li {
    height: 50px;
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.sidebar header .image,
.sidebar .icon {
    min-width: 60px;
    border-radius: 6px;
}

.sidebar .icon {
    min-width: 60px;
    border-radius: 6px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.sidebar .text,
.sidebar .icon {
    color: white;
    transition:0.3s;
}

.sidebar .text {
    font-size: 17px;
    font-weight: 500;
    white-space: nowrap;
  
}

.sidebar.close .text {
    opacity: 0;
}

/* =========================== */

.sidebar header {
    position: relative;
}

.sidebar header .image-text {
    display: flex;
    align-items: center;
}

.sidebar header .logo-text {
    display: flex;
    flex-direction: column;
}

header .image-text .name {
    margin-top: 2px;
    font-size: 18px;
    font-weight: 600;
}

header .image-text .profession {
    font-size: 16px;
    margin-top: -2px;
    display: block;
}

.sidebar header .image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar header .image img {
    width: 40px;
    border-radius: 6px;
}

 header .toggle {
    position:fixed;
    left: 22px;
    top: 6px;
    height: 50px;
    width: 50px;
    border: 1px solid yellow;
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    z-index: 10000;
    cursor: pointer;
}

body.dark .sidebar header .toggle {
    color:black;
}

.sidebar.close .toggle {
    transform: translateY(-50%) rotate(0deg);
}

.sidebar .menu {
    margin-top: 80px;
}



.sidebar li a {
    list-style: none;
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 6px;
    text-decoration: none;
    transition:0.3s;
}

.sidebar li a:hover {
    background-color:white;
}

.sidebar li a:hover .icon,
.sidebar li a:hover .text {
    color:black;
}



.sidebar .menu-bar {
    height: calc(100% - 55px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
}

.menu-bar::-webkit-scrollbar {
    display: none;
}

.sidebar .menu-bar .mode {
    border-radius: 6px;
    /* background-color: var(--primary-color-light); */
    position: relative;
    transition:0.3s;
}

.menu-bar .mode .sun-moon {
    height: 50px;
    width: 60px;
}

.mode .sun-moon i {
    position: absolute;
}

.mode .sun-moon i.sun {
    opacity: 0;
}

body.dark .mode .sun-moon i.sun {
    opacity: 1;
}

body.dark .mode .sun-moon i.moon {
    opacity: 0;
}



.toggle-switch .switch {
    position: relative;
    height: 22px;
    width: 40px;
    border-radius: 25px;
    background-color:white;
    transition:0.5s;
}

.switch::before {
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background-color: black;
    transition:0.4s;
}

body.dark .switch::before {
    left: 20px;
}

.home {
    position: absolute;
    top: 0;
   
    left: 250px;
    height: 100vh;
    width: calc(100% - 250px);
    transition:0.5s;
}

.home .text {
    font-size: 30px;
    font-weight: 500;
    color:white;
    padding: 20px 60px;
}

.sidebar.close~.home {
    left: 78px;
    height: 100vh;
    width: calc(100% - 78px);
}
/* 
body.dark .home .text {
    color: var(--text-color);
} */

.logo {
    display: flex;
    position: fixed;
    width: 100vw;
    padding: 10px;
    top: 0px;
    z-index: 13;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-self: center;
    background-color: #000000;
}

.logo h1 {
    margin-left: 10px;
    font-size: 2rem;
    color: aliceblue;
}

.logo h1 span {
    color: yellow;
}
/* testimonials  starts*/
#testimonial{
    /* padding-top:80px ; */
    position: relative;
    top:80px;
    background-color: white;
    height: fit-content;
    
}
figure.review {
    font-family: 'Roboto', Arial, sans-serif;
    margin-top: 50px;
    overflow: hidden;
    margin: 10px;
    max-width: 3fr;
    width: 100%;
    color: #000000;
    text-align: center;
    font-size: 16px;
    background-color: #2C3447;
    padding: 0px 10px 30px 10px;
    background-image: linear-gradient(-25deg, rgba(0, 0, 0, 0.2) 0%, rgba(255, 255, 255, 0.1) 100%);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    
}

figure.review *,
figure.review *:before,
figure.review *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
}

figure.review figcaption {
    width: 100%;
}

figure.review h2,
figure.review h4,
figure.review blockquote {
    margin: 0;
}
.review-container
{
    display: flex;
    margin-top: 80px;

}

/* figure.review h2,
figure.review h4 {
    font-weight: 300;
} */

figure.review h2 {
    color: #ffffff;
}

figure.review h4 {
    color: #a6a6a6;
}

figure.review blockquote {
    font-size: 1em;
    padding: 40px 20px 40px 50px;
    margin-top: 30px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: inset -1.4px -1.4px 2px rgba(0, 0, 0, 0.3);
    text-align: left;
    position: relative;
}

figure.review blockquote:before {
    font-family: 'FontAwesome';
    content: "\201C";
    position: absolute;
    font-size: 70px;
    opacity: 0.25;
    font-style: normal;
    top: 0px;
    left: 20px;
}

figure.review .profile {
    width: 100px;;
    border-radius: 50%;
    display: inline-block;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.4);
    /* margin-bottom: 10px; */
    border: solid 5px #71701d;
}
#contactus{
    height: 100vh;
    margin-top: 80px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-self: center;
    position: relative;
    background: #FF416C;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FF4B2B, #FF416C);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.con_form{
    padding: 0px;
    height: 70vh;
    width: 60%;
    background-color:#1b007e;
    margin: auto;
    position: relative;
    text-align: center;
    border-radius: 30px 30px 0px 0px;
    display: flex;
    justify-content: center;
    align-self: center;
    box-shadow: 0px 0px 30px 1px rgb(158, 7, 7);;
    flex-direction: column;
}
hr{
    margin: 0%;
    height: 1px;
    color: #ffffff;
}

.con_form h2{
    color: white;
    background-color: rgb(10, 10, 48);
    padding: 10px;
    border-radius: 30px 30px 0px 0px;
}

input , textarea {
    background-color: transparent;
    border: none;
    height: 20px;
    width: 160px;
    color: rgba(204, 204, 204, 0.842);
    margin-left: 20px;
    width: 70%;
    font-size: 20px;

   
}
textarea{
    border: 1px solid #ffffff;
    padding: 10px;
    height: 160px;
    width: 80%;
} 
.input-box{
    padding: 10px;
}
.input-box span{
    font-size: 20px;
    color: antiquewhite;
}
input:focus , textarea:focus{
    outline: none;
}



/* Send Button  */

.cssbuttons-io-button {
    background: #9788bd;
    color: rgb(36, 1, 48);
    font-family: inherit;
    padding: 0.35em;
    padding-left: 1.2em;
    font-size: 17px;
    font-weight: 500;
    border-radius: 0.9em;
    border: none;
    letter-spacing: 0.05em;
    display: flex;
    align-items: center;
    box-shadow: inset 0 0 1.6em -0.6em #714da6;
    overflow: hidden;
    position: absolute;
    height: 2.8em;
    padding-right: 3.3em;
    align-self: center;
    bottom: 20px;
}

.cssbuttons-io-button .icon {
    background: white;
    margin-left: 1em;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.2em;
    width: 2.2em;
    border-radius: 0.7em;
    box-shadow: 0.1em 0.1em 0.6em 0.2em #7b52b9;
    right: 0.3em;
    transition: all 0.3s;
}

.cssbuttons-io-button:hover .icon {
    width: calc(100% - 0.6em);
}

.cssbuttons-io-button .icon svg {
    width: 1.1em;
    transition: transform 0.3s;
    color: #7b52b9;
}

.cssbuttons-io-button:hover .icon svg {
    transform: translateX(0.1em);
}

.cssbuttons-io-button:active .icon {
    transform: scale(0.95);
}

.button {
    --color: #00A97F;
    position:relative;
    top: 100px;
    padding: 0.8em 1.7em;
    background-color: transparent;
    border-radius: .3em;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: .5s;
    font-weight: 400;
    font-size: 17px;
    border: 1px solid;
    font-family: inherit;
    text-transform: uppercase;
    color: var(--color);
    z-index: 1;
}

.button::before,
.button::after {
    content: '';
    display: block;
    width: 50px;
    height: 50px;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 50%;
    z-index: -1;
    background-color: var(--color);
    transition: 1s ease;
}

.button::before {
    top: -1em;
    left: -1em;
}

.button::after {
    left: calc(100% + 1em);
    top: calc(100% + 1em);
}

.button:hover::before,
.button:hover::after {
    height: 410px;
    width: 410px;
}

.button:hover {
    color: rgb(10, 25, 30);
}

.button:active {
    filter: brightness(.8);
}


.left-side {
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    position: relative;
}



.left-side .details {
    margin: 5px;
    text-align: center;
     
        padding: 10px;
}

.left-side .details i {
    font-size: 30px;
    color: #000000;
    margin-bottom: 10px;
    min-width: 30vw;
}

.left-side .details .topic {
    font-size: 18px;
    font-weight: 500;
}

.left-side .details .text-one,
.left-side .details .text-two {
    font-size: 14px;
    color: #fafaff;
}
.footer{
    background-color: #06001b;
    height: 80px;
    color: white;
    text-align: center;
    
}

@media only screen and (max-width: 950px){
.body {
    margin: 0;
    padding: 10px;
}

.sidebar .icon {
    display: none;
}

.sidebar.close {
    display: none
}

.home {
    width: 100vw;
    overflow-x: hidden;

}

.sidebar.close~.home {
    left: 0px;
    height: fit-content;
    width: 100vw;
}

.carousel-item img {
    filter: brightness(60%);
    height: 100vh;
}

.service-card-container {
    flex-direction: column;

}

.card {
    width: 100vw
}

.card2 {
    width: 100vw;
}

.review-container {
    flex-direction: column;
    width: 100vw;
    flex-wrap: wrap;
    padding: 30px;
}

.review {
    text-align: center;
    min-width: 80%;

}

.con_form {
    min-width: 95vw;
    top: 10px;



}

#contactus {
    flex-direction: column;
    height: fit-content;
}

.left-side {
    display: flex;

    flex-direction: row;
    width: 95vw;
    margin: auto;
    font-size: 1fr;
}

.details {
    margin: 0px;
    padding: 0px;
}

header .toggle {
    width: 40px;
    height: 40px;
    top: 25px;
    padding: 2px
}

.home {
    overflow-x: scroll 0px;
}
}